body {
	text-align: center;
	font-family: helvetica;
}
header {
	background-image: url("../../resources/images/the-flatiron-building.png");
}
header h1{
	font-size: 70px;
	color: white;
}
header a {
	font-size: 18px;
	color: white;
}
.main-content h2 {
	font-size: 32px;
}
.main-content h3 {
	font-size: 23px;
}
.main-content p {
	font-size: 14px;
}